# Web Server
fastapi
uvicorn
python-multipart==0.0.12

# Data Processing & Math
numpy==2.0.2
pandas==2.3.3
scipy==1.16.3

# Machine Learning & Models
scikit-learn==1.6.1
xgboost==3.2.0
joblib

# Image Processing
opencv-python-headless
scikit-image
